
.logo{
    width: 20%;
    height: 20%;
    margin-right: 2px;
    margin-left: 5px;
    margin-bottom: 20px;
}
span{
font-size: 30px;
}
label{
    margin-bottom: 5px;
}
.closebtn{
    position: relative;
    top: -118px;
    left: 395px;
}